<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="textFooter">
                    <a href="">Prointe <i class="fa-solid fa-fire-extinguisher"></i></a>
                </div>
            </div>
            <div class="col-sm-6">
                <p><strong>Dirrección <i class="fa-solid fa-map"></i> :</strong> Cdla. Clemente Ballen Andrade Velazco S13-324 y Maximiliano Ontaneda</p>
                <p><strong>Teléfonos <i class="fa-solid fa-phone-flip"></i> :</strong> 2611-156 / 3068-239</p>
                <p><strong>Celular <i class="fa-solid fa-mobile-screen-button"></i> :</strong> 0984 489 550</p>
                <p><strong>Email <i class="fa-solid fa-envelope"></i> :</strong> prointewj@hotmail.com</p>
            </div>
        </div>
    </div>
    <div class="linea"></div>
    <p class="text-center derechosStyle">Todos los derechos reservados <strong>®Prointe</strong></p>
</div>