.footer{
    position: absolute;
    background: #ff0000;
    width: 100%;
}
.textFooter{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
}
p{
    color: #ffffff;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color: #000000;
    transition: 0.5s;
}
.linea{
    background: #ffffff;
    width: 100%;
    height: 1px;
}
.derechosStyle{
    color: #ffffff;
    font-size: 20px;
}