<!-- Carrousel Inicio -->
<div class="carrusel">
    <div class="slideItem active">
        <img loading="lazy" src="../../../assets/img/extintor1.jpg" alt="Extintor en uso">
    </div>
    <div class="slideItem">
        <img loading="lazy" src="../../../assets/img/extintor2.jpg" alt="Mantenimiento de extintor">
    </div>
    <div class="slideItem">
        <img loading="lazy" src="../../../assets/img/extintor3.jpg" alt="Equipos contra incendios">
    </div>
</div>
<!-- Carrousel Fin -->

<body>
    <br>
    <div class="prointeBox">
        <h1 class="text-center" id="inicio">Bienvenido a PROINTE</h1>
        <p class="text-center">En PROINTE PROTECCIÓN INDUSTRIAL, nos especializamos en la recarga, mantenimiento y venta
            de equipos contra incendios. Nuestro objetivo es asegurar la protección y seguridad de su empresa con
            equipos de alta calidad y un servicio confiable.</p>
        <img loading="lazy" class="extintorImgStyle" src="../../../assets/img/extintorCartoon.jfif" height="200" width="200" alt="">
    </div>
    <div class="prointeBox">
        <h1 class="text-center" id="servicios">Servicios</h1>
        <p class="text-center"><strong>Recarga:</strong> Ofrecemos un servicio eficiente y rápido para la recarga de
            extintores, garantizando su funcionalidad en caso de emergencia.</p>
        <p class="text-center"><strong>Mantenimiento:</strong> Realizamos mantenimiento preventivo y correctivo a sus
            equipos contra incendios, asegurando que estén siempre operativos y listos para usar.</p>
        <p class="text-center"><strong>Venta de Equipos:</strong> Disponemos de una amplia gama de equipos contra
            incendios, desde extintores hasta sistemas de rociadores, para satisfacer todas sus necesidades.</p>
        <div class="itemsContainer">
            <div class="itemsImg">
                <img loading="lazy" class="img-fluid" src="../../../assets/img/productos/extintor.JPEG" alt="">
            </div>
            <div class="itemsImg">
                <img loading="lazy" class="img-fluid" src="../../../assets/img/productos/roceador.JPEG" alt="">
            </div>
            <div class="itemsImg">
                <img loading="lazy" class="img-fluid" src="../../../assets/img/productos/extintorBotiquin.JPEG" alt="">
            </div>
        </div>
    </div>
    <div class="prointeBox" id="contactos">
        <h1 class="text-center" id="ubicacion">Ubicación y Contacto</h1>
        <br>
        <div class="row d-flex align-items-center">
            <div class="col-sm-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7829583894504!2d-78.5123668!3d-0.241229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d599e4683b20df%3A0x6d236f8cc60c28b4!2sProinte%20-%20Recarga%20de%20Extintores!5e0!3m2!1ses!2sec!4v1724982571760!5m2!1ses!2sec"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-sm-6">
                <p class="text-center"><strong>Gerente:</strong> Willan Jácome</p>
                <p class="text-center"><strong>Dirección:</strong> Av. Napo &, Quito 170121</p>
                <p class="text-center"><strong>Teléfonos:</strong> 2611-156 / 3068-239</p>
                <p class="text-center"><strong>Celular:</strong> 0984 489 550</p>
                <p class="text-center"><strong>Email:</strong> prointewj&#64;hotmail.com</p>
            </div>
        </div>

    </div>
    <br>
</body>