/*Carrusel Inicio*/
.carrusel {
    z-index: -1;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.carrusel img {
    position: absolute;
    width: 100%;
    height: 500px;
    opacity: 0;
    transition: opacity 2s ease;
}
.textBoxCarousel{
    position: absolute;
    bottom: 0px;
    opacity: 0;
    text-align: start;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: opacity 2s ease;
}
.titleCarousel{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 40px;
    font-weight: bold;
    color: #ff781e;
}
.textCarousel{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
    padding-bottom: 10px;
    color: #ffffff;
    font-weight: 500;
}
.slideItem.active img{
    opacity: 1;
}
.slideItem.active .textBoxCarousel{
    opacity: 1;
}
/*Carrusel Fin*/
app-navbar{
    z-index: 1;
}