<body>
  <br>
  <h1 class="text-center">Productos</h1>
  <div class="productosBox">
    <div class="productosItemsBox">
      <div class="productosItems">
        <img src="../../../assets/img/productos/senales.JPEG" alt="">
      </div>
      <div class="productosItems">
        <h3>Señaletica</h3>
        <p><Strong>Detalles:</Strong> Señalética de plástico con diversa información para colocar en la pared, diseñada
          para ofrecer indicaciones claras puedes pedir cualquier diseño.</p>
        <p><Strong>Precio:</Strong> $ 3.50</p>
        <button class="button btn btn-primary">Prueba</button>
      </div>
    </div>
  </div>
  <div class="productosBox">
    <div class="productosItemsBox">
      <div class="productosItems">
        <img src="../../../assets/img/productos/botiquinnegro.JPEG" alt="">
      </div>
      <div class="productosItems">
        <h3>Botiquin Negro</h3>
        <p><Strong>Detalles:</Strong> Botiquín negro completo con suministros esenciales para primeros auxilios,
          incluyendo vendajes, antisépticos y herramientas básicas.</p>
        <p><Strong>Precio:</Strong> $ 8.00</p>
        <button (click)="prueba()" class="button btn btn-primary">Prueba</button>
      </div>
    </div>
  </div>
  <div class="productosBox">
    <div class="productosItemsBox">
      <div class="productosItems">
        <img src="../../../assets/img/productos/detectorHumo.JPEG" alt="">
      </div>
      <div class="productosItems">
        <h3>Detector de Humo</h3>
        <p><Strong>Detalles:</Strong> Detector de humo marca Vexhum, diseñado para detectar humo y alertar sobre posibles incendios con alta precisión.</p>
        <p><strong>Marca:</strong> VEXHUM</p>
        <p><Strong>Precio:</Strong> $ 25.00</p>
        <button class="button btn btn-primary">Prueba</button>
      </div>
    </div>
  </div>
  <!--Inicio de box-->
  <div class="productosBox">
    <div class="productosItemsBox">
      <div class="productosItems">
        <img src="../../../assets/img/productos/kitdecarretera2.JPEG" alt="">
      </div>
      <div class="productosItems">
        <h3>Kit de Carretera</h3>
        <p><Strong>Detalles:</Strong> Kit de Carretera con extintor de 1lb y un triángulo reflectivo.</p>
        <p><Strong>Precio:</Strong> $ 25.00</p>
        <button class="button btn btn-primary">Prueba</button>
      </div>
    </div>
  </div>
  <!--Inicio de fin-->
  <!--Inicio de box-->
  <div class="productosBox">
    <div class="productosItemsBox">
      <div class="productosItems">
        <img src="../../../assets/img/productos/sellosplasticas.JPEG" alt="">
      </div>
      <div class="productosItems">
        <h3>Sellos Plásticos</h3>
        <p><Strong>Detalles:</Strong> Diseñados para verificar el año de recarga del extintor.</p>
        <p><Strong>Precio:</Strong> $ 0.10</p>
        <button class="button btn btn-primary">Prueba</button>
      </div>
    </div>
  </div>
  <!--Inicio de fin-->
  <br>
</body>