<body>
  <br>
  <h1 class="text-center">Productos</h1>
  <div class="tabsbox">
    <a class="tabsItems" (click)="changePage(currentPage - 1)" *ngIf="currentPage > 1">
      <i class="fa-solid fa-arrow-alt-circle-left"></i>
    </a>
    <ng-container *ngFor="let page of [].constructor(getTotalPages()); let i = index">
      <a class="tabsItems" (click)="changePage(i + 1)" [class.actualItem]="currentPage === i + 1">
        {{ i + 1 }}
      </a>
    </ng-container>
    <a class="tabsItems" (click)="changePage(currentPage + 1)" *ngIf="currentPage < getTotalPages()">
      <i class="fa-solid fa-arrow-alt-circle-right"></i>
    </a>
  </div>

  <div class="productosBox">
    <div class="productosItemsBox" *ngFor="let productos of getPaginatedProducts()">
      <div class="productosItems">
        <img src="{{productos.imagen}}" alt="">
      </div>
      <div class="productosItems">
        <h3>{{productos.nombreProduto}}</h3>
        <p><strong>Detalles:</strong> {{productos.detalles}}</p>
        <p><strong>Precio:</strong> $ {{productos.precio}}</p>
        <form>
          <div class="cantidadBox">
            <button class="variableButton" (click)="minusButton(productos.nombreProduto)">-</button>
            <input class="cantidad" (change)="onQuantityChange($event, productos.nombreProduto)"
              id="{{productos.nombreProduto}}" type="number" [value]="quantityMap[productos.nombreProduto]"
              readonly>
            <button class="variableButton" (click)="plusButton(productos.nombreProduto)">+</button>
          </div>
          <button (click)="submitCarShop(productos.nombreProduto)" class="btn btn-danger carritoButton" type="button">
            Solicitar por Whatsapp <i class="fa-brands fa-whatsapp"></i>
          </button>          
        </form>
      </div>
    </div>
  </div>

  <div class="tabsbox">
    <a class="tabsItems" (click)="changePage(currentPage - 1)" *ngIf="currentPage > 1">
      <i class="fa-solid fa-arrow-alt-circle-left"></i>
    </a>
    <ng-container *ngFor="let page of [].constructor(getTotalPages()); let i = index">
      <a class="tabsItems" (click)="changePage(i + 1)" [class.actualItem]="currentPage === i + 1">
        {{ i + 1 }}
      </a>
    </ng-container>
    <a class="tabsItems" (click)="changePage(currentPage + 1)" *ngIf="currentPage < getTotalPages()">
      <i class="fa-solid fa-arrow-alt-circle-right"></i>
    </a>
  </div>
  <br>
</body>
