.cantidadBox{
    display: flex;
    justify-content: center;
}
.variableButton{
    border: none;
    border-radius: 50%;
    background: #ff0000;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.cantidad{
    border-radius: 10px;
    background: #ffe1e1;
    text-align: center;
    font-weight: bold;
}
.carritoButton{
    width: 99%;
    margin-top: 10px;
    margin-bottom: 10px;
}
body{
    background: #e4e4e4;
}
.tabsbox{
    padding: 5px;
    justify-content: center;
    display: flex;
    width: 95%;
    margin: auto;
    background: #ffffff;
}
.tabsItems{
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    background: #e4e4e4 ;
    font-weight: bold;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.5s;
}
.tabsItems:hover{
    background: #ff0000;
    color: #ffffff;
    transition: 0.5s;
}
.actualItem{
    background: #ff0000;
    color: #ffffff;
}
h1{
    width: 95%;
    margin: auto;
    background: #ffffff;
    color: #ff0000;
}
.productosBox{
    padding: 15px;
    width: 95%;
    margin: auto;
    background: #ffffff;
}
.productosItemsBox{
    display: flex;
    width: 100%;
    background: #e4e4e4;
}
.productosItems{
    display: grid;
    align-items: center;
    width: 50%;
}
.productosItems img{
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 70%;
    padding: 10px;
    transition: 1s;
}
.productosItems a{
    margin: 10px;
}
.productosItems img:hover{
    transform: scale(1.07);
    transition: 0.5s;
}
@media (max-width: 750px){
    .productosItemsBox{
        display: grid;        
    }
    .productosItems{
        display: grid;
        padding: 10px;
        width: 100%;
    }
    .productosItems img{
        height: 250px;
        width: 90%;
    }
}